* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 15px 25px 0;

}

header {
  width: 850px;
  height: 120px;
  background-color: yellow;
  float: left;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 250px;
  height: 250px;
  background-color: violet;
  float: left;
}

.center {
  width: 320px;
  height: 320px;
  background-color: purple;
  float: left;
  margin: 0 15px 10px;
}

.right {
  width: 250px;
  height: 150px;
  background-color: violet;
  float: left;
  margin-bottom: 10px;
}

footer {
  width: 850px;
  height: 60px;
  background-color: #8CACBC;
  float: left;
  margin-bottom: 10px;
}
